@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-clr: #379683;
    --secondary-clr: #f4f5f2;

    --accent-clr: #f64c72;
    --accent-green-clr: #45a29e;
    --light-clr: #ffffff;

    --primary-text-clr: #1d1e18;
    --secondary-text-clr: #00110f;

    --btn-primary: #00110f;

    --fs-h1: 2.8rem;
    --fs-h2: 1.85rem;
    --fs-h3: 1.4rem;
    --fs-body: 1rem;

    --container-width: 89%;
    --container-max-width: 1140px;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--ff-secondary);
  }

  html {
    font-family: var(--ff-primary);

    scroll-behavior: smooth;
    scroll-padding: 50px;
  }

  h1 {
    font-size: var(--fs-h1);
  }

  h2 {
    font-size: var(--fs-h2);
  }

  h3 {
    font-size: var(--fs-h3);
  }

  @media (min-width: 768px) {
    :root {
      --fs-h1: 3.5rem;
      --fs-h2: 2.25rem;
      --fs-h3: 1.75rem;
      --fs-body: 1rem;
    }
  }

  body {
    font-size: var(--fs-body);
    color: var(--primary-text-clr);
  }

  main {
    background-color: var(--light-clr);
    position: relative;
    z-index: 1;
  }
}

@layer utilities {
  .container {
    margin: 0 auto;
    max-width: var(--container-max-width);
    width: var(--container-width);
  }
  .underline-heading {
    margin-bottom: 1em;
    position: relative;
    max-width: max-content;
  }

  .underline-heading::after {
    content: "";
    position: absolute;
    width: 55%;
    height: 2px;
    background-color: var(--secondary-text-clr);
    opacity: 0.15;
    left: 50%;
    bottom: -0.5em;
    transform: translateX(-50%);
  }

  .section-description + .section-description {
    margin-top: 1rem;
  }

  .btn {
    text-decoration: none;
    color: var(--light-clr);
    background-color: var(--btn-primary);
    padding: 0.6em 1.5em;
    font-size: calc(var(--fs-h3) / 1.1);
    display: inline-block;
    transition: transform 0.35s ease-in;
  }

  .btn:hover,
  .btn:focus {
    transform: scale(1.05);
  }

  .btn:focus {
    outline: 3.5px solid var(--primary-clr);
    outline-offset: 0.15em;
  }
}

@import url("../styles/main.css");
